:root {
  --primary-color: #4a3aff;
  --primary-color2: #962dff;
  --neutral-100: #ffffff;
  --neutral-300: #eff0f7;
  --neutral-600: #6f6c90;
  --neutral-800: #170f49;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--neutral-600);
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-weight: bold;
  color: var(--neutral-800);
  margin-bottom: 7.5px;
}

.header--big {
  font-size: 1.89rem;
  line-height: 1.5rem;
}

.header--medium {
  font-size: 24px;
  line-height: 35px;
}

.description {
  width: 566.41px;
}

.container {
  width: 698px;
  height: 606px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid var(--neutral-300);
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
  margin-bottom: 31.61px;
}

.render--step {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-top: 33.43px;
  margin-bottom: 32.43px;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.step--circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 0.6rem;
  width: 34px;
  height: 34px;
  border-radius: 9999px;
}

.progress--container {
  background-color: var(--neutral-300);
  overflow: hidden;
  width: 98.09px;
  height: 6px;
  border-radius: 40px;
}

.progress--inner {
  overflow: hidden;
}

.progress--child {
  background-color: blue;
  height: 6px;
}

.line {
  width: 88%;
  border: 1px solid #d9dbe9;
  margin-bottom: 45px;
}

.footer {
  width: 698px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 60px;
  color: var(--primary-color);
  background: var(--neutral-100);
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 66px;
  cursor: pointer;
}

.button:hover {
  color: var(--neutral-100);
  font-weight: bold;
  line-height: 0.6rem;
  background: var(--primary-color);
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
}

.form1 {
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-bottom: 20px;
}

.form4 {
  align-items: center;
  justify-content: center;
}

.field--form1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label--form1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.field--input {
  display: flex;
  align-items: center;
  position: relative;
  width: 94%;
  height: 66px;
  padding-left: 15px;
  border: 1px solid var(--neutral-300);
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 46px;
}

.icon--form1 {
  position: absolute;
  right: 15px;
}

.label--msg {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color2);
}

.input {
  width: 230px;
  height: 50px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.input:focus {
  outline: none;
}

.grid--container {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  gap: 0px 18px;
}

.grid--box {
  height: 150px;
}

.grid--container2 {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  gap: 10px;
}

.grid--box2 {
  height: 115px;
  padding-left: 25.81px;
  display: flex;
  align-items: center;
  border: 1px solid var(--neutral-300);
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 16px;
}

.pointer {
  cursor: pointer;
}

.field--form2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.field--input2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle--form2 {
  width: 66.64px;
  height: 66.64px;
  border-radius: 9999px;
  background: var(--primary-color);
  opacity: 0.15;
}

.icon--form2 {
  position: absolute;
  width: 41.36px;
  filter: drop-shadow(0 0 1px black);
}

.label--form2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--neutral-800);
}

.radion {
  cursor: pointer;
}
.radio-label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: var(--neutral-800);
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background-color: var(--neutral-100);
  border-radius: 100%;
  border: 1.2px solid #d9dbe9;
  box-shadow: inset 0px -3px 7px rgba(20, 20, 43, 0.08);
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  transition: 100ms transform ease-in-out;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #f4f4f4;
  box-shadow: inset 0 0 0 8px var(--primary-color);
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #d9dbe9;
}

.radio input[type="radio"] + .radio-label:empty:before {
}

.icon--form4 {
  margin-bottom: 18px;
}

.button--submit {
  width: 143px;
  height: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--neutral-100);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background: var(--primary-color);
  box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  cursor: pointer;
}
